<footer class="page-footer bg-secondary">

  <div class="">
    <div class="row ">
      <div class="col-md-12 mt-3">
        <li><a href="">
            <i class="bi bi-geo-alt text-white mx-5"></i></a>
        </li>
      </div>


    </div>

    <div class="row container-footer">
      <div class="col-md-6 text-white">
        <p class="mx-5 fs-8"> <b> IBCCRIM - Instituto Brasileiro de Ciências Criminais </b>
          <br>Rua Onze de Agosto, 52 - 2° Andar
          <br>Centro, São Paulo/SP
          <br>CEP: 01018-010
        </p>

      </div>
      <div class="col-md-6 text-white siga">
        <p class="fs-8 p-siga m-3">Siga-nos
        </p>
        <ul>

          <li class="fs-12"><i class="bi bi-facebook"></i> <i class="bi bi-instagram m-2"><i
                class="bi bi-youtube m-2"></i></i></li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p class="text-white fs-8 mx-5"><i class="bi bi-envelope-fill"></i> inicio@ibccrim.org.br <br><i
            class="bi bi-telephone-fill"></i>+55 (11) 31111-1040</p>
      </div>
      <div class="col-md-4">
        <p class="text-right mr-5 text-white fs-8"> <br> Todos os direitos reservados © IBCRIM - Instituto Brasileiro de
          Ciências Criminais</p>


      </div>
      <div class="col-md-4">
        <p class="text-right mr-5 text-white fs-8"><br> Desenvolvido por <img
            src="https://www.witix.com.br/img/logo-branco-2.svg" alt="" width="50px" height="50px" class="img-fluid">
        </p>

      </div>
    </div>

  </div>


</footer>
