/* You can add global styles to this file, and also import other style files */

li{
    list-style-type: none;
}

.fs-8{
    font-size: 8pt;
}

.fs-10{
    font-size: 10pt;
}

.fs-12{
    font-size: 12pt;
}


#fundo{
    background-color: transparent;
}

#core{
    text-decoration: rgb(236, 129, 5);
  }
